body {
  margin: 0 auto;
  max-width: 800px;
}

header {
  margin: auto;
  padding-top: 40px;
  border-bottom: 2px solid #5c5c5c;
}

input {
  margin: 20px 0;
  width: 200px;
  padding: 5px;
  border: 2px solid #5c5c5c;
  font-size: 2vw;
}

button {
  padding: 5px;
  border: 2px solid #5c5c5c;
  background-color: white;
  font-size: 2vw;
}

section {
  /*max-width: 800px;*/
  margin: auto;
  padding: 30px 0;
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
}

img {
  width: 100%;
  min-height: 30%;
  text-align: center;
  margin-bottom: 1.5vw;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: #5c5c5c;
}

#results {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /*justify-content: space-between;*/
}

.boxedResults {
  width: 22%;
  margin: 1vw;
  align-content: flex-start;
}

p {
  font-size: 2vw;
}
